<% @elements.each do |element| %>
  <h1><%= element.name %></h1>

  <% element.ropes.each do |rope| %>
    <p>
      <h3><%= rope.primary_color.capitalize %> w/ <%= rope.pcord_color %></h3>
      Total climbs = <%= rope.total_climbs %><br>
      <form action="/ropes/<%=rope.id%>" method="post" class="retire-form">
        <input type="hidden" name="_method" value="patch">
        <input type="submit" class="btn-link retire-btn" name="retire" value="Retire and replace this rope">
      </form>
    </p>
  <% end %>
<% end %>

<!-- return link -->
<p>
<a href="/">Homepage</a>
</p>
