<!-- show all inspections this user has made
with a link to edit
and a link to create a new inspection -->
<h1>Activity by <%= current_user.username %></h1>

<h3>Inspections you've logged:</h3>
<div class="table-overflow">
  <table>
    <tr>
      <th>Date</th>
      <th>Element</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <% current_user.inspections.each do |inspection| %>
      <tr>
        <td nowrap><%= inspection.climb_date %></td>
        <td><%= inspection.element.name %></td>
        <td><%= inspection.comments %></td>
        <td align="center"><a href="/inspections/<%= inspection.id %>/edit">Edit</a></td>
      </tr>
    <% end %>
  </table>
</div>

<a href="/inspections/new">Log a new inspection</a>
<a href="/">Homepage</a>
