<h1>Edit this inspection of <%= @inspection.element.name %></h1>

<form action="/inspections/<%= @inspection.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="inspection[climb_date]">Date of the inspection:</label>
  <input type="date" name="inspection[climb_date]" value="<%= @inspection.climb_date %>">

  <% @inspection.climbs.each do |climb| %>
    <label for="inspection[climbs][<%= climb.rope.id %>]"><%= climb.rope.primary_color.capitalize %> w/ <%= climb.rope.pcord_color %></label>
    <input type="tel" name="inspection[climbs][<%= climb.rope.id %>]" value="<%= climb.number_of_climbs %>">
  <% end %>

  <label for="comments">Comments:</label>
  <textarea name="inspection[comments]" value="<%= @inspection.comments %>"></textarea>
  <input type="submit" name="submit" value="Save changes">

  <!-- delete button -->
  <form action="/inspections/<%= @inspection.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="delete" value="Delete this record">
  </form>
</form>


<!-- return link -->
<p>
<a href="/">Homepage</a>
</p>
