<h1><%= @element.name %>'s new inspection</h1>

<form action="/inspections" method="post">
  <input type="hidden" name="element" value="<%= @element.slug %>">

  <label for="inspection[climb_date]">Date of the inspection:</label>
  <input type="date" name="inspection[climb_date]"><br>
  <% @element.ropes.each do |rope| %>
    <label for="inspection[climbs][<%= rope.id %>]"><%= rope.primary_color.capitalize %> w/ <%= rope.pcord_color %></label>
    <input type="phone" name="inspection[climbs][<%= rope.id %>]"><br>
  <% end %>
  <label for="comments">Comments</label>
  <input type="textarea" name="inspection[comments]">
  <input type="submit" name="submit" value="Log Inspection">
</form>

<!-- TODO need a way to escape -->
