<h1><%= @element.name %>'s new inspection</h1>

<form action="/inspections" method="post">
  <input type="hidden" name="element" value="<%= @element.slug %>">

  <label for="inspection[climb_date]">Inspection Date:</label>
  <input type="date" name="inspection[climb_date]">
  <label for="comments">Comments:</label>
  <textarea name="inspection[comments]"></textarea>
  <div class="two-columns"><p><strong>Input the number of climbs for each rope:</strong></p></div>
  <% @element.ropes.each do |rope| %>
    <label for="inspection[climbs][<%= rope.id %>]"><%= rope.primary_color.capitalize %> w/ <%= rope.pcord_color %></label>
    <input type="tel" name="inspection[climbs][<%= rope.id %>]">
  <% end %>
  <input type="submit" class="two-columns" name="submit" value="Log Inspection">
</form>

<!-- TODO change elements link -->

<!-- return link -->
<p>
<a href="/">Homepage</a>
</p>
